@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conference Manager</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Name: Dhara Patel</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Student ID:4630977</h2>
    </div>
    <div class="col-md-4">
        <h2>Location:Footscray</h2>
    </div>
</div>